.page {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.newProjectBtn {
    text-align:center;
    margin-top: 3rem;
}

.middle {
    display: flex;
    justify-content: center;
}

.content {
    /*display: grid;
    grid-template-columns: 15rem 15rem;
    grid-row: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;*/
    align-items: center;
    justify-content: center;
}

.elem {
    /*display: flex;
    flex-direction: column;*/
}

    .elem ul {
        border: 1px solid black;
        min-height: 15rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .elem h4 {
        text-align: center;
    }

    .elem ul li button {
        width: 100%;
        background-color: none;
        border: none;
        outline: none;
    }

        .elem ul li button:focus {
            background-color: rgb(50, 50, 255);
        }
