@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="overflow-scroll">
    <MudMainContent>
        <div class="container">
            @Body
        </div>
    </MudMainContent>
</MudLayout>